# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# pytest cache
.pytest_cache/

# Distribution / packaging
*.egg-info/
dist/
build/

# Environments
.env
.venv
env/
venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store
